//für die badge zahl beim warenkorb
.badge {
    position: relative; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 50%; 
    padding: 0.5rem 1rem; 
    color: $white; 
    font-weight: bold; 
    
    // Animation bei update der Zahl
    &.update {
        background-color: $badge-color; 
        animation: grow 0.5s ease;
        
        // Glitzer Animation
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 200%;
            height: 200%;
            background: radial-gradient(circle, $badge-shiny-color 0%, $badge-fade-color 80%);
            transform: translate(-50%, -50%);
            z-index: 1;
            pointer-events: none; 
            animation: glitter 1.5s infinite linear;
        }
        
        // Animation vorher
        &:before {
            animation-duration: 2s; 
        }

        // Animation nachher
        &:after {
            animation-duration: 2.5s; 
            animation-delay: 0.5s; 
        }
    }

    // keyframe für die größe
    @keyframes grow {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.3); 
        }
        100% {
            transform: scale(1);
        }
    }

    // keyframe für das glitzern
    @keyframes glitter {
        0% {
            background-position: 0% 0%;
        }
        100% {
            background-position: 100% 100%;
        }
    }
}

.cart-page-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px $box-shadow;
}

.cart-page-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: $cart-page-color;
}

.cart-page-empty {
    font-size: 18px;
    color: $empty-cart-page;
}

.cart-page-list {
    list-style-type: none;
    padding: 0;
}

.cart-page-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid $cart-page-item;
}

.cart-page-item:last-child {
    border-bottom: none;
}

.cart-page-item-link {
    display: block;
    margin-right: 20px;
}

.cart-page-item-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.cart-page-item-img:hover {
    transform: scale(1.1);
}

.cart-page-item-name {
    font-size: 18px;
    color: $cart-page-color;
    flex: 1;
}

.cart-page-item-price {
    font-size: 18px;
    color: $cart-page-color;
    margin-right: 20px;
}

.cart-page-item-quantity {
    font-size: 18px;
    color: $cart-page-color;
    margin-right: 20px;
}

.cart-page-item-actions {
    display: flex;
    gap: 10px;
}

.cart-page-item-edit,
.cart-page-item-delete {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-page-item-edit:hover {
    background-color: #0056b3;
}

.cart-page-item-delete {
    background-color: $color_crimson;
}

.cart-page-item-delete:hover {
    background-color: $delete-button-hover-color;
}

.cart-page-item-delete-form {
    display: inline;
    margin-left: 20px;
}

.order-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: $primary-color;
    color: $white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $primary-color-hover;
      text-decoration: none;
      color: $white;
    }
  }