$primary-color: #6d2d1c;
$primary-color-hover: #c5482c;
$background-color: #fff;
$border-color: #ddd;
$error-background-color: #ffdddd;
$error-text-color: #a94442;
$text-color: #424242;

$black: #212121;
$light-gray: #e0e0e0;
$dark-gray: #757575;
$soft-yellow: #ffe880;
$muted-dark: #481E14;
$white: #fff;

$button-hover-bg: #444;

$background-color-dark: #252020;
$box-shadow:  0 8px 16px rgba(0, 0, 0, 0.2);

$product-image-size: 300px;

